<!DOCTYPE html>
<html lang="en">
{% extends 'base/main.html' %}
<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario</title>
</head>
<body>
{% block content %}
<div class="barra-superior">
    <h1>Registrar</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="POST" action="">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}

        <input style="margin-top:10px" class="boton" type="submit" value="Registrar">
    </form>

    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Ingresa</a></p>
</div>

{% endblock content %}
</body>
</html>